{% import '@HBMTwigBootstrap/macrosBootstrapInternal.html.twig' as mbi %}

{%- set attributes = bsLink.attributes.class('dropdown-toggle') -%}
{%- set attributes = attributes.setIfEmpty('title', bsLink.text|striptags) -%}
{%- set attributes = attributes.set('id', bsUuid('-dropdown')) -%}
{%- set attributes = attributes.set('data-toggle', 'dropdown') -%}
{%- set attributes = attributes.set('aria-haspopup', 'true').set('aria-expanded', 'false') -%}

{%- set attributesMenu = attributes(attributesMenu) -%}
{%- set attributesMenu = attributesMenu.class('dropdown-menu') -%}
{%- set attributesMenu = attributesMenu.set('aria-labelledby', attributes.get('id')) -%}

<{{ htmlTag }} {{ bsGroup.attributes|raw }}>
  {{ bsLink.attributes.hasClass('nav-link') ? bsLink|bsLink : bsLink|bsButton }}
  <div {{ attributesMenu|raw }}>
{% for item in bsGroup.items %}
  {% if item is string %}
    {{ item|raw }}
  {% else %}
    {{ item|bsDropdownItem }}
  {% endif %}
{% endfor %}
  </div>
</{{ htmlTag }}>
