{% import '@HBMTwigBootstrap/macrosBootstrapInternal.html.twig' as mbi %}

<{{ tag|default('a') }} {{ bsLink.attributes|raw }}><span class="btn-text">{{ mbi.icons(bsLink.icons, bsLink.text) }}{{ bsLink.text|raw }}</span></{{ tag|default('a') }}>
