{% import '@HBMTwigBootstrap/macrosBootstrapInternal.html.twig' as mbi %}

<li {{ attributes(attributesContainer).class('nav-item')|raw }}>
  {{ bsLink.class('nav-link').title(bsLink.text|striptags, true).open|raw -}}{{- prefix|default('')|raw -}}{{- mbi.icons(bsLink.icons, bsLink.text) -}}{{- bsLink.text|raw -}}{{- suffix|default('')|raw -}}{{- bsLink.close|raw }}
</li>
